// ========================================= //
//			Colors Used in Landing Page
// ========================================= //

$white:				#FFFFFF;
$tundora:			#444444;
$Alabaster:	        #f9f9f9;
$seashell:			#F1F0F0;
$Gallery:           #eceaea;
$dove-gray:			#666666;
$mercury:			#e1e1e1;
$hint-of-red:		#FAF8F8;
$black:				#000000;
$mine-shaft:		#202020;
$shark:				#212529;
$albi: 				#fcfcfc;