/* ====================== */
/*         Contact        */
/* ====================== */
#mt_contact_section {
  margin-top: 0;
  padding: 0 0 100px 0;
  .rt_address_info {
    @media only screen and (max-width: 991px) {
      margin-top: 70px;
    }
  }
  .contact_form {
    @media only screen and (max-width: 767px) {
      margin-top: 35px;
    }
    h3 {
      font-size: 26px;
      font-weight: 400;
      margin-top: 0;
      @media only screen and (max-width: 480px) {
        font-size: 22px;
        margin-bottom: 15px;
      }
    }
  }

  .contact-top {
    width: 100%;
    float: left;
    .see_more.light .top,
    .see_more.dark .top {
      padding: 12px 7px 7px 25px;
    }
    .rt_form_sec {
      h3 {
        font-size: 50px;
        line-height: normal;
        font-weight: 800;
        margin-top: 0;
      }
    }
    .rt_address_info {
      p {
        color: $shark;
        font-size: 16px;
      }
      h4 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
        line-height: 24px;
        margin-top: 0;
        @media only screen and (max-width: 767px) {
          font-size: 24px;
          line-height: 34px;
        }
      }
      .email-phone {
        margin: 25px 0 0;
        ul {
          li {
            padding: 0;
            margin-bottom: 5px;
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }

  .contact-top .col-lg-5, .contact-bottom .col-lg-5 {
    padding-left: 30px;
    @media only screen and (max-width: 767px) {
      padding-left: 15px;
    }
  }

  .contact-top h4, .contact-bottom h4 {
    margin: 0 auto 30px;
  }

  .email-phone ul {
    padding: 0;
    list-style: none;
    margin: 0;
  }

  .email-phone ul li, .email-phone ul li a {
    color: #000;
    text-decoration: none;
  }

  .email-phone ul li a {
    margin-left: 10px;
  }

  .offices-visit p {
    margin: 40px 0;
  }

  .offices-visit {
    padding-bottom: 100px;
    padding-left: 40px;
    padding-top: 136px;
  }
}

.contact_banner {
  padding: 100px 0;
  .banner-content {
    span {
      font-size: 16px;
    }
    h2 {
      margin: 15px 0;
      line-height: 55px;
      font-size: 40px;
      font-weight: 800;
      width: 70%;
      letter-spacing: 5px;
      text-transform: uppercase;
      @media only screen and (max-width: 991px) {
        font-size: 30px;
        letter-spacing: 2px;
        width: 100%;
      }
      @media only screen and (max-width: 480px) {
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 38px;
      }
    }
    p {
      max-width: 80%;
      margin-bottom: 0;
      @media only screen and (max-width: 991px) {
        max-width: 100%;
      }
    }
  }
  a {
    border-bottom: dashed 1px #000;
    color: #191919;
    &:hover {
      text-decoration: none;
      border: none;
    }
  }
}



/* =========================== */
/*         End Contact         */
/* =========================== */











