/*============================= */
/*          Newsletter          */
/* =============================*/

.newsletter_form{
  position: relative;
  width: 100%;
  display: block;
  p {
    margin-bottom: 0;
  }
  input{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .animated_btn{
    position: absolute;
    top: 44%;
    right: 8px;
    z-index: 1;
    margin-bottom: 0;
    transform: translate(0,-95%);
    span {
      padding: 11px;
    }
  }
  .form-control {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 18px 170px 18px 10px;
    font-size: 12px;
    color: #464a4c;
    background-color: transparent;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 10px;
  }
}

/* ================================== */
/*          End Newsletter            */
/* ================================== */